<div>
<div id="homeView" >
    <!--Top NavBar-->

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- logo -->
            <div class="navbar-header">
                <button type="button" id="navbarMenu" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home.homepage">Gov.Food Truck</a>
            </div>
            <!-- menu -->
            <div  >
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active" ng-click="vm.menuclick()" ng-repeat="menu in vm.menu">
                            <a ui-sref="home.{{menu.state}}">
                                <span>{{menu.title}}</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>
    <!--End Top Navbar-->
    <div class="main_content">
        <div style="min-height: 100vh;">
                <ui-view></ui-view>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
           <!-- <hr>-->
            <div class="col-lg-12">
                <div class="col-md-8">
                    <a href="#">Terms of Service</a> | <a href="#">Privacy</a>
                </div>
                <div class="col-md-4">
                    <p class="muted pull-right">© 2013 Company Name. All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>

</div>
</div>